.strength-elem {
    margin-top: 15px;
    max-width: 400px;
    width: 100%;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }

    &__name {
        text-transform: uppercase;
        color: #adadad;
        font-size: 14px;
    }

    &__strength-level {
        display: flex;
        gap: 20px;
    }

    &__strength-level-list {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__strength-level-name {
        text-transform: uppercase;
        color: #ffffff;
        font-size: 18px;
    }

    &__strength-level-elem {
        width: 6px;
        height: 20px;
        border: 1px solid #ffffff;

        &--isActive {
            background-color: yellow;
            border: 1px solid transparent;
            width: 6px;
            height: 20px;
        }
    }
}
