.form {
    background-color: #262626;
    max-width: 400px;
    width: 100%;
    padding: 25px 20px;
    margin: auto;

    &__header {
        text-align: center;
        color: aliceblue;
    }

    &__wrapper {
        background-color: #4d4b4b;
        margin-top: 20px;
        padding-bottom: 20px;
    }

    &__checkbox-wrapper {
        margin-top: 20px;
        padding: 0 20px;
    }

    &__checkbox-component {
        padding: 5px 0;
    }

    &__submit-elem {
        background-color: #4d7c0f;
        display: flex;
        justify-content: center;
        gap: 10px;
        padding: 10px 0;

        &:hover {
            cursor: pointer;
            opacity: 0.75;
        }
    }

    &__submit-input {
        background-color: transparent;
        border: transparent;
        text-transform: uppercase;
        font-weight: 600;

        &:hover {
            cursor: pointer;
        }
    }
}
