.password {
    background-color: #4d4b4b;
    padding: 15px 0;
    width: 100%;
    color: #ffffff;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }

    &__content {
        line-height: 16px;
    }

    &__icon {
        &--isActive {
            filter: brightness(1) hue-rotate(340deg);
        }
    }
}
