.password {
    background-color: #262626;
    max-width: 400px;
    width: 100%;
    color: #626c7c;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding: 15px 20px;
    }

    &__icon {
        &:hover {
            cursor: pointer;
        }
    }
}
