.iput-range {
    max-width: 400px;
    width: 100%;
    color: #ffffff;

    &__wrapper {
        padding: 0 20px;
    }

    &__range-details {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__input-value {
        color: #4d7c0f;
        font-size: 23px;
        font-weight: 600;
    }

    &__input-range {
        input[type='range'] {
            accent-color: white;
            -webkit-appearance: none;
            margin-right: 15px;
            width: 100%;
            height: 7px;
            background: #000000;
            border-radius: 5px;
            background-image: linear-gradient(#4d7c0f, #4d7c0f);
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }

        input[type='range']::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background: #ffffff;
            cursor: pointer;
        }
    }
}
